## 主題：買進口車與否
### 規則：
- 會買的年薪坐落在 180(w) 以上
- 會買的年紀介於
    - 26 - 36 的機率為：60%
    - 36 - 56 的機率為：80%

In [1]:
import numpy as np
import pandas as pd
import random
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score

ages = np.random.uniform(low=20, high=80, size=(1000,)).round()
revenues = np.random.uniform(low=20, high=500, size=(1000,))
dataset = pd.DataFrame(np.vstack((ages, revenues)).transpose(), columns=['Ages', 'Revenues'])

In [2]:
answer_list = []
for index, row in dataset.iterrows():
    seed = random.random()
    if row['Revenues'] >= 180:
        if 26 <= row['Ages'] and row['Ages'] < 36 and seed <= 0.6:
            answer_list.append(1)
        elif 36 <= row['Ages'] and row['Ages'] < 56 and seed <= 0.8:
            answer_list.append(1)
        else:
            answer_list.append(0)
    else:
        answer_list.append(0)
dataset['Will buy'] = pd.Series(answer_list)
dataset.head(10)

   Ages    Revenues  Will buy
0  76.0  442.164302         0
1  65.0  194.025643         0
2  63.0  352.171795         0
3  39.0  380.495136         1
4  40.0  468.181797         1
5  53.0   65.390334         0
6  77.0  365.611481         0
7  50.0  247.423269         0
8  64.0  409.179948         0
9  42.0   47.261776         0

In [3]:
X_train, X_test, y_train, y_test = train_test_split(dataset[['Ages', 'Revenues']], dataset['Will buy'], )
X_train.head(10)

     Ages    Revenues
108  53.0  319.156875
485  76.0   87.406519
374  36.0  394.014494
101  68.0  309.798003
129  57.0  473.506550
434  34.0  423.415419
348  65.0  445.098229
480  62.0  259.741773
963  38.0  293.981123
920  41.0  316.556780

In [4]:
dtree = DecisionTreeClassifier()
dtree.fit(X_train, y_train)

y_predict = dtree.predict(X_test)
accuracy_score(y_test, y_predict)

0.83999999999999997

## 結果報告
透過 train_test_split() 將資料順序打亂，隨機測試。<br>
雖然歲數分兩部份採機率分佈，結果預測準確率仍然不低。也許是起因於資料屬性相對單純，沒有太多需要考量比對的對象資料。